@charset "UTF-8";
/*
 * Bootstrap Image Gallery Demo CSS 3.0.0
 * https://github.com/blueimp/Bootstrap-Image-Gallery
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

body {
    padding-top: 60px;
    background: #222;
    color: #fff;
}
h1 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
}
a {
    color: orange;
    text-decoration:none;
}
a:hover {
    color: lightblue;
    text-decoration: none;
}
.modal {
	overflow: auto;
	color: #333;
}
.loisir a img{
	margin:10px;
	height: 80%;
	width:20%;
}
.loisir b{
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 0.9em;
}
.loisir i{
	display:block;
	font-size:0.8em;
	font-weight:normal;
	font-style:normal;
}
.loisir a{
	height: 60px;
	margin-bottom: 4px;
}
#links img{
  width:150px;
  margin-left: 5px;
  float: left;
  margin-bottom: 5px;
}

p{
	font-style:oblique; 
}
#gastronomie{
	font-size: 14px;

}
#gastronomieT{
	font-size: 23px;

}
#gast{
	font-size: 18px;
}
#logo{
	width:200px;
	margin-left: 10px;
	margin-bottom: -12px;
}
.iconv img{
	width:25px;
}
#link{
	margin-right: 30px;
}
#video{
width: 100%;
}
.message{
 display:none;
 text-align: center;
   font-size: 28px;
   font-style: oblique;
   font-family: cambria;
}
